.scroll-to-top {
  position: fixed;
  bottom: 45px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
}

.scroll-icon {
  font-size: 3rem;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

